<div class="row">
    <div class="col-lg-9">
        <h2 class="text-center">Danh sách sinh viên</h2>
    </div>
    <div class="col-lg-3">
        <button class="btn btn-secondary" routerLink="/form">Thêm + </button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Địa chỉ</th>
            <th>SĐT</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let item of List,let i = index" class="positi">
            <td scope="row">{{i}}</td>
            <td><input type="text iName" value="{{item.name}}" [(ngModel)]="item.name" id="name{{i}}"></td>
            <td><input type="text iAdress" value="{{item.address}}" [(ngModel)]="item.address" id="address{{i}}"></td>
            <td><input type="text iSdt" value="{{item.sdt}}" [(ngModel)]="item.sdt" id="sdt{{i}}"></td>
            <td><button class="btn btn-info saveNKT" id="saveNKT{{i}}" (click)="saveEdit(i)">Save</button></td>

            <td>
                <div class="row">
                    
                    <button class="btn btn-success edit" (click)="edit(i)" style="margin-right: 10px;">Sửa</button>
                    <button class="btn btn-danger delete" (click)="delete(i)">Xoá</button>
                </div>
            </td>
            <div class="blockList" id="box{{i}}"></div>
        </tr>
    </tbody>
</table>